@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: hsl(0, 0%, 9%);
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

p {
	@apply text-sm sm:text-base text-white/70 text-pretty;
}

::-webkit-scrollbar {
	@apply w-2 bg-black;
}

::-webkit-scrollbar-thumb {
	@apply bg-zinc-800 rounded;
}

#header-nav {
	animation: blur linear both;
	animation-timeline: scroll();
	animation-range: 0 450px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes blur {
	to {
		box-shadow: 0px 5px 50px -50px rgba(0, 0, 0, 0.1),
			0px 0px 0px 1px rgba(0, 0, 0, 0.5);
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
	}
}
